:root {
    --main-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --card-heading: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: white;
    transition: all 1s ease;
}

.preview-app {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-background);
}

.card {
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 370px;
    padding: 20px;
    border-radius: 10px;
}

.img-container {
    height: 250px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.img-container .Equilibrium-image,
.middle {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 8px;
}

.middle {
    background: center no-repeat url(/images/icon-view.svg) rgb(13, 135, 135);
    background-size: 25px;
    opacity: 0;
}

.middle:hover {
    opacity: 0.6;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.card-text .heading {
    font-weight: 600;
    color: var(--card-heading);
    cursor: pointer;
}

.card-text .heading:hover {
    color: var(--Cyan);
}

.card-text .text {
    width: 90%;
    color: var(--Soft-blue);
}

.day-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ethereum {
    color: var(--Cyan);

}

.days {
    color: var(--Soft-blue);
}


.author-details {
    border-top: 2px solid var(--line-color);
    width: 100%;
    padding-top: 24px;
    display: flex;
    gap: 20px;
}

.author-details .img-container {
    height: 28px;
    width: 28px;
}

.author-image {
    width: 100%;
}

.author-name {
    color: var(--Soft-blue);
}

.author-name span {
    color: var(--card-heading);
    cursor: pointer;
}

.author-name span:hover {
    color: var(--Cyan);
}
