:root {
    --main-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --card-heading: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: white;
}

.preview-app {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background);
}

.card {
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.img-container {
    height: 300px;
    width: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.card-text .heading {
    font-weight: 600;
    color: var(--card-heading);
}

.card-text .text {
    width: 90%;
    color: var(--Soft-blue);
}

.day-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ethereum {
    color: var(--Cyan);

}

.days {
    color: var(--Soft-blue);
}


.author-details {
    border-top: 2px solid var(--line-color);
    width: 100%;
    padding-top: 24px;
    display: flex;
    gap: 20px;
}

.author-details .img-container {
    height: 24px;
    width: 24px;
}

.author-name span {
    color: var(--Soft-blue);
}